.container {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .input-filed {
    display: flex;
    flex-direction: row;
}  */
/* 
.input-filed input {
    width: 300px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    margin-right: 10px;
}

.input-filed button {
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    background-color: #333;
    width: 60px;
    color: white;
    font-size: 16px;
} */


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #333;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.alert-danger{
  text-color:red;
}
