<div class="container">
  <div class="input-filed">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <label for="id">Enter Id (*): </label>
      <input id="id" type="text" formControlName="id" required autocomplete="off" placeholder="Enter numbers only"/>
      <span class="alert-danger" *ngIf="inputForm.dirty && inputForm.get('id')?.errors?.['pattern']">
        Please insert only digit
      </span>
      <span *ngIf="inputForm.errors?.['isError']"> Title or Body missing</span>
    

      <button [disabled]="!inputForm.valid">Submit</button>
    </form>
  </div>
</div>
